/* NAVBAR */
.navbar {
    background-color:  #f57c00;
}
/* FIN NAVBAR */

/* CAROUSEL */
.carousel-inner {
    padding-bottom: 2em;
}
/* FIN CAROUSEL */

/* CARDS */
.card-deck {
    padding-bottom: 2em;
}

.d-block {
    height: 35vw;
}
.content {
    position: absolute;
    top: 20%;
    left: 50%;
    transform:  translate(-50%, -50%);
    color: white;
    text-transform: uppercase;
    font-size: 1em;
    background-color: grey;
    border-radius: 5px;
    padding: 5px;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}
.card:hover .overlay {
    opacity: 1;
}
/* FIN CARDS */
/* FORMU */
.formu {
padding-left: 20vw;
padding-bottom: 5vw;
background-color: black;}
.sens-btn {
    width: 75%;
    display: flex;
    justify-content: flex-end;
}
/* FIN FORMU */
/* FOOTER  */
footer {
    background-color: #f57c00;
}
/* FIN FOOTER */
/* REWARD */
.media-object {
    background-color: black;
}
/* FIN REWARD */
/* GOLUM */
img.golum {
    width: 20%;
}
/* FIN GOLUM */
/* JOIN  */
img.army {
    width: 40%;
}
img.need-you {
    width: 20%;
}
/* FIN JOIN */
/* MORE INFO */

/* FIN MORE INFO */
